{% extends "base.html" %}

{% block title %}
Policy
{% endblock %}

{% block content %}
<h1>Policy</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget nunc quis nisi ultricies ultricies. Nunc eget nunc eget nisi ultricies ultricies. Nunc eget nunc eget nisi ultricies ultricies. Nunc eget nunc eget nisi ultricies ultricies. Nunc eget nunc eget nisi ultricies ultricies. Nunc eget nunc eget nisi ultricies ultricies. Nunc eget nunc eget nisi ultricies ultricies. Nunc eget nunc eget nisi ultricies ultricies.
</p>
{% endblock %}