<!-- vacancy.html -->
{% extends 'base.html' %}

{% block style %}
    {% load static %}
    @import url("{% static 'css/hotelinfo/vacancy.css' %}")
{% endblock %}

{% block title %}Vacancies - Hotel App{% endblock %}

{% block content %}
    <h1>Vacancies</h1>

    <div class="vacancies-container">
        {% for job in jobs %}
            <div class="job-card">
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
            </div>
        {% empty %}
            <p>No job vacancies available.</p>
        {% endfor %}
    </div>
{% endblock %}