{% extends 'base.html' %}

{% block content %}
    <h1>Book Room - {{ room.number }}</h1>

    <p>Category: {{ room.category.name }}</p>
    <p>Description: {{ room.description }}</p>
    <p>Capacity: {{ room.capacity }}</p>
    <!-- Add more room details as needed -->
    <p>One-Day Cost: ${{ room.one_day_cost }}</p>

    <form method="POST" action="{% url 'book_room' room.id %}">
        {% csrf_token %}

        <label for="start_date">Start Date:</label>
        <!-- Add the start date field here -->

        <label for="days">Days of reservation:</label>
        <input type="number" name="days" min="1" required>
        <!-- Add the days of reservation field here -->

        <label for="promo_instance">Promo Instance:</label>
        <select name="promo_instance">
            {% for promo_instance in promos %}
                <option value="{{ promo_instance.id }}">{{ promo_instance.promo.title}}</option>
            {% endfor %}
        </select>

        <button type="submit">Book Now</button>
    </form>
{% endblock %}