{% extends "base.html" %}

{% block title %}
General
{% endblock %}

{% block links %}
    <li><a href="#Partners" download>Partners</a></li>
 
{% endblock %}

{% block content %}\
<div>
    {% load static %}
    <img src="{% static 'hotel_site_logo.png' %}" alt="Hotel logo">

    <div class="ad-banner">
        <a href="https://google.com">
            <img src="{% static 'ad1.jpeg' %}" alt="ad-banner">
        </a>
    </div>

    <h2>Latest article.</h2>
    <h2>{{ article.title }}</h2>
    <p>Summary: {{ article.summary }}</p>
    <p>Last Modified: {{ article.last_modified_date }}</p>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="Article Image">
    {% endif %}
    <a href="{% url 'article' id=article.id %}">READ MORE</a>

    <!-- New section for partners -->
    <h2 id="Partners">Our Partners</h2>
    <div class="partners-section">
        {% for partner in partners %}
            <div class="partner">
                <a href="{{ partner.url }}" target="_blank">
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }} logo">
                    <p>{{ partner.name }}</p>
                </a>
            </div>
        {% empty %}
            <p>No partners to display.</p>
        {% endfor %}
    </div>
</div> 
{% endblock %}