<!-- articles.html -->
{% extends 'base.html' %}

{% block title %}News - Hotel App{% endblock %}

{% block content %}
    <h1>Articles</h1>

    {% for article in articles %}
        <div>
            <h2>{{ article.title }}</h2>
            <p>Summary: {{ article.summary }}</p>
            <p>Last Modified: {{ article.last_modified_date }}</p>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="Article Image">
            {% endif %}
            <a href="{% url 'article' id=article.id %}">READ MORE</a>
        </div>
    {% empty %}
        <p>No articles available.</p>
    {% endfor %}
{% endblock %}