{% extends 'base.html' %}

{% block content %}
    <h1>Room Detail</h1>

    <h2>{{ room.number }}</h2>
    <p>Category: {{ room.category.name }}</p>
    <p>Description: {{ room.description }}</p>
    <p>Status: {% if room.status == '1' %}Available{% else %}Not Available{% endif %} </p>
    <p>Capacity: {{ room.capacity }}</p>
    <!-- Add more room details as needed -->

    <h3>Images</h3>
    <ul>
        {% for image in images %}
            <li>
                <img src="{{ image.image.url }}" alt="Room Image">
            </li>
        {% empty %}
            <li>No images found for this room.</li>
        {% endfor %}
        {% if user.is_authenticated %}
            <!-- Authenticated user content -->
            <p>Welcome, {{ user.full_name }}!</p>
            <!-- Add authenticated user-specific content here -->
            <form method="GET" action="{% url 'book_room' room.id %}">
                {% csrf_token %}
                <button type="submit">Book this room</button>
            </form>
        {% else %}
        <!-- Content for anonymous users -->
        <p>Please log in to book this room.</p>
        <!-- Add content for anonymous users here -->
    {% endif %}
    </ul>
{% endblock %}
