{% extends 'base.html' %}

{% block content %}
    <h1>Staff Cabinet</h1>

    <h2>Reservations</h2>
    <ul>
        {% for reservation in reservations %}
            <li>
                Reservation ID: {{ reservation.id }}<br>
                User: {{ reservation.user.username }}<br>
                Adults Count: {{ reservation.adults_count }}<br>
                Start Date: {{ reservation.start_date }}<br>
                End Date: {{ reservation.end_date }}<br>
                Price: {{ reservation.price }}
                <!-- Add more reservation details as needed -->
            </li>
        {% empty %}
            <li>No reservations found.</li>
        {% endfor %}
    </ul>

    <h2>Users</h2>
    <ul>
        {% for client in clients %}
            <li>
                User ID: {{ client.user.id }}<br>
                Username: {{ client.user.username }}<br>
                First name = {{ client.user.first_name }}<br>
                Last name = {{ client.user.last_name }}<br>
                Email: {{ user.email }}
                <!-- Add more user details as needed -->
                <br>
                <h3>Reservations:</h3>
                <ul>
                    {% for reservation in client.user.reservation_set.all %}
                        <li>
                            Reservation ID: {{ reservation.id }}<br>
                            Adults Count: {{ reservation.adults_count }}<br>
                            Start Date: {{ reservation.start_date }}<br>
                            End Date: {{ reservation.end_date }}<br>
                            Price: {{ reservation.price }}
                            <!-- Add more reservation details as needed -->
                        </li>
                    {% empty %}
                        <li>No reservations found for this user.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>
{% endblock %}